@import 'normalize.css';

:root {
  --gradient: linear-gradient(315deg, #e9b7ceff, #e5c1d4ff, #e2cbdaff, #ded5e0ff, #dadfe5ff, #d7e9ebff, #d3f3f1ff);
  --primary: #714674;
  --white: #ffffff;
  --black: #111111;
  --green-500: #8bc34a;
  --orange-500: #ff9800;
  --red-500: #f44336;
  --grey-300: #e0e0e0;
  --grey-500: #cbcbcb;
  --grey-900: #212121;
  --shadow-25: rgb(0 0 0 / 25%);
  --shadow-45: rgb(0 0 0 / 45%);
  --transparent: rgba(255, 255, 255, 0.7);
}

:root {
  --toastify-color-light: var(--white);
  --toastify-color-dark: var(--black);
  --toastify-color-info: var(--primary);
  --toastify-color-success: var(--green-500);
  --toastify-color-warning: var(--orange-500);
  --toastify-color-error: var(--primary);
  --toastify-color-transparent: var(--transparent);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 20rem;
  --toastify-toast-background: (var(--white));
  --toastify-toast-min-height: 4rem;
  --toastify-toast-max-height: 50rem;
  --toastify-z-index: 9999;

  --toastify-text-color-light: var(--grey-500);
  --toastify-text-color-dark: var(--white);

  --toastify-text-color-info: var(--white);
  --toastify-text-color-success: var(--white);
  --toastify-text-color-warning: var(--white);
  --toastify-text-color-error: var(--white);

  --toastify-spinner-color: var(--grey-500);
  --toastify-spinner-color-empty-area: var(--grey-500);

  --toastify-color-progress-light: var(--gradient);

  --toastify-color-progress-dark: var(--black);
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--grey-300);
}

::-webkit-scrollbar-thumb {
  background: var(--black);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--grey-900);
}

body {
  /* Need to change the font family to something more custom */
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* SCSS Gradient */
  background: var(--gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: inherit;
  color: var(--black);
}

a:hover {
  color: var(--primary);
}

h1 {
  font-size: 1.25rem;
  margin-top: 0;
  color: var(--primary);
}

h1 span,
h1 span a {
  color: var(--grey-500);
  font-size: 0.75em;
  position: relative;
  bottom: 0.1em;
}

h1 span.rounded:before {
  content: '(';
}

h1 span.rounded:after {
  content: ')';
}

button {
  border-style: none;
  background-color: var(--white);
  color: var(--black);
  margin-bottom: 1rem;
  text-align: center;
}

button.primary {
  color: var(--primary);
}

button.flat {
  padding: 1rem 2rem;
  border: 0.1rem var(--black) solid;
}

button.flat.primary {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

button:hover {
  cursor: pointer;
}

table {
  width: 100%;
  max-width: 30rem;
  border-collapse: collapse;
  overflow-x: scroll;
}

table tr:nth-child(odd) {
  background-color: var(--grey-300);
  padding: 0 0.25rem;
}

table tr td {
  padding: 0.5rem;
}

table tr td:first-child {
  text-align: right;
}

table tr:nth-child(odd) td:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

table tr:nth-child(odd) td:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

.primary {
  color: var(--primary);
}

.error {
  color: var(--red-500);
  background-color: var(--grey-300);
  padding: 1rem;
  border-left: 0.25rem solid var(--red-500);
}

input {
  accent-color: var(--primary);
}

input[type='search'] {
  outline: none;
}