.navbar {
  width: 100%;
  background: var(--white);
  top: 0;
  z-index: 100;
  border-bottom: 0.06rem solid var(--black);
  display: flex;
  padding-bottom: 0.5rem;
}

.navbar__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
}

.navbar__container--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  height: 100%;
  flex-wrap: wrap;
}

.navbar__list {
  display: flex;
  column-gap: 1.5rem; /* 24px */
  color: var(--black);
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar__button {
  border-radius: 0.5rem; /* 8px */
  background: var(--black);
  font: bold;
  color: var(--white);
  padding: 0.6rem;
  margin-block-end: 0;
}

.navbar li {
  display: flex;
  align-items: center;
}

.navbar li p {
  margin-block: 5px;
}

.button.button--teal {
  background-color: var(--teal);
  color: var(--black);
  padding: 0.625rem;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  opacity: 1;
  margin-bottom: 0;
}

.button.button--teal:hover {
  background-color: var(--primary);
  color: var(--white);
  transition: 0.3s;
}

/* large mobile */
@media screen and (max-device-width: 48rem), screen and (max-width: 48rem) {
  .navbar__container {
    padding: 0;
  }

  .navbar__list {
    padding: 1.3rem;
  }
}

/* laptop */
@media screen and (max-device-width: 64rem), screen and (max-width: 64rem) {
  .navbar__container--inner {
    display: flex;
    justify-content: center;
  }
}
